
    <div class="main_height">
        <div class="container" style="min-height: 562px !important;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddgleftright0 " style=" margin-top: 100px;">
                    <div class="computer">Cotact Us</div>
                    <div class="width_hr" style="margin-bottom: 30px; "></div>
                </div>
            </div>
            <div class="row">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                        <div style="line-height: 32px;">
                            <p><img src="images/logo_orang.png" style="margin-top: -60px;margin-bottom: -40px;"></p>
                            <p>One Stop Solution</p>
                            <p>Near IIT Hyderabad</p>
                            <p>Sangareddy</p>
                            <p>Ph : +91 9052424288</p>
                            <p>Mail Id : onestopsolution@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="border-left: 2px dotted rgb(66, 69, 74);">
                        <div>
                            <form>
                                <input type="text" class="contactform_input" placeholder="Name">
                                <input type="text" class="contactform_input" placeholder="Phone Number">
                                <input type="text" class="contactform_input" placeholder="Email Id">
                                <textarea placeholder="Message" class="contact_textarea" rows="5"></textarea>
                                <input type="submit" class="contactsubmit" name="Submit">
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    