<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="short icon" href="images/smallogo.png">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>One Stop Solution</title>
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style2.css" />
    <script>
        $(document).ready(function (){
            $(".handover li").on("click", function (){
                $(this).addClass("active").siblings(".active").removeClass("active");
            });
        });
    </script>



    <script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="css/nojs.css" />
    </noscript>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
</head>
<body class="">
<div class="">
    <header>
        <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="index.html"><img src="images/logo_white.png" class="logo"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-right handover">
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="achieveradvice.html">Achiever Advice</a></li>
                        <li><a href="bestcolleges.html">Best Colleges</a></li>
                        <li><a href="comptuercoaching.html">Computer Coaching</a></li>
                        <li><a href="english.html" >English With Experts</a></li>
                        <li><a href="notifications.html">Notifications</a></li>
                        <li><a href="generalawareness.html">General Awareness</a></li>
                       <!-- <li><a href="">E - Library</a></li>-->
                        <li><a href="contact.html">Contact</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                            <ul class="dropdown-menu settings-menu">
                                <!-- <li><a href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li>-->
                                <li class="active"><a href="profile.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                                <li><a href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="main_height">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddgleftright0 " style=" margin-top: 100px;">
                    <div class="computer">Profile</div>
                    <div class="width_hr" style="margin-bottom: 30px; "></div>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="profile_table">
                        <table>
                            <tr>
                                <td>Full Name</td>
                                <td class="profle_td">:</td>
                                <td>Shakeer Mohammad</td>
                            </tr>
                            <tr>
                                <td>Qualification</td>
                                <td class="profle_td">:</td>
                                <td>MCA</td>
                            </tr>
                            <tr>
                                <td>Mobile Number</td>
                                <td class="profle_td">:</td>
                                <td>9052424288</td>
                            </tr>
                            <tr>
                                <td>E - Mail Id</td>
                                <td class="profle_td">:</td>
                                <td>shakeer@gmail.com</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <footer>
        <div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <div class="d_table p_top8 f_size13">
                            <div class="d_tbcell p_right10"><i class="fa fa-phone" aria-hidden="true"></i> +91 - 9052424288 | </div>
                            <div class="d_tbcell p_right10"><i class="fa fa-envelope" aria-hidden="true"></i> onestopsolution@gmail.com | </div>
                            <div class="d_tbcell">Copy Rights @ 2017 <a href="https://www.onestopsolution.com" target="_blank" class="color_fff">www.onestopsolution.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="f_right">
                        <ul class="f_size13">
                            <li class="f_left follow">Follow Us :</li>
                            <li class="fb"><i class="fa fa-facebook" aria-hidden="true"></i> </li>
                            <li class="tw"><i class="fa fa-twitter" aria-hidden="true"></i> </li>
                            <li class="google"><i class="fa fa-google" aria-hidden="true"></i> </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </footer>
</div>

<!-- Javascripts-->
<script src="js/jquery-2.1.4.min.js"></script>
<!--<script src="js/essential-plugins.js"></script>-->
<script src="js/bootstrap.min.js"></script>
<!--<script src="js/plugins/pace.min.js"></script>-->
<script src="js/main.js"></script>
<!-- <script type="text/javascript" src="js/plugins/chart.js"></script>
 <script type="text/javascript" src="js/plugins/jquery.vmap.min.js"></script>
 <script type="text/javascript" src="js/plugins/jquery.vmap.world.js"></script>
 <script type="text/javascript" src="js/plugins/jquery.vmap.sampledata.js"></script>-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.cslider.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>




<script type="text/javascript">
    $(function() {

        $('#da-slider').cslider({
            autoplay	: true,
            bgincrement	: 450
        });

    });
</script>

</body>
</html>