doctype html
html(lang='en', ng-app='myApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title NibbleBox
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap.vertical-tabs.css')
    // <link rel="stylesheet" href="css/font-awesome-4.4.0/css/font-awesome.min.css">
    link(rel='stylesheet', href='css/angular-ui-notification.min.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')
    // <link rel="stylesheet" href="css/echos.css">
    link(rel='stylesheet', href='css/mystyle.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/static.css')
    link(rel='stylesheet', href='css/order.css')
    link(rel='stylesheet', href='css/myorder.css')
    link(rel='stylesheet', href='css/media-queries.css')
    link(href='font-awesome-4.4.0/css/font-awesome.min.css', rel='stylesheet', type='text/css', media='all')
    // -datepicker ----------
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='https://resources/demos/style.css')
    // End datepicker------
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
    // Angular Material Library
    script(src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js')
    // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    // -datepicker ----------
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='js/jquery-ui.multidatespicker.js')
    // End datepicker------
    // <script src="js/angular.js"></script>
    script(src='js/bootstrap.js')
    // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    script(src='js/angular-ui-router.js')
    script(src='js/angular-resource.min.js')
    script(src='js/login.js')
    script(src='js/app.js')
    script(src='js/controller.js')
    script(src='js/payment.js')
    script(src='js/location.js')
    script(src='js/lb-services.js')
    script(src='js/angular-ui-notification.min.js')
    //
      <script>
      $("#datepicker").datepicker({
      onSelect: function(value, date) {
      alert('The chosen date is ' + value);
      $("#datepicker").hide();
      }
      });
      </script>
    script.
      $(document).on('click', '.navbar-collapse.in', function (e) {
      if ($(e.target).is('a')) {
      $(this).collapse('hide');
      }
      });
    script.
      $(document).ready(function () {
      var menu = $('.menu');
      var origOffsetY = menu.offset().top;
      function scroll() {
      if ($(window).scrollTop() >= origOffsetY) {
      $('.menu').addClass('sticky');
      $('.content').addClass('menu-padding');
      } else {
      $('.menu').removeClass('sticky');
      $('.content').removeClass('menu-padding');
      }
      }
      document.onscroll = scroll;
      });
    script.
      $(document).ready(function(){
      $(".nav-tabs a").click(function(){
      $(this).tab('show');
      });
      $(".nav-tabs .addcolor  ").on("click", function () {
      alert("Hii")
      $(this).addClass("active").removeClass("active");
      });
      });
      $(document).ready(function () {
      });
  body
    section
      .payment-success.m-tb75
        .container
          .row.nopadding.intro-section.content-part
            .col-lg-offset-2.col-lg-8.col-lg-offset-2.col-md-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
              div
                #base.dd.animated.bounceInDown
                  i.fa.fa-thumbs-o-up.fa-3x.color-fff
                h2.text-capitalize.payment-message(style='color:black') Don't Refresh The Page
                .underline
                  .underline-inner
              .payment-successdetails
                a(ng-controller='PaymentController', ng-init="paymentFail('#{udf1}','#{udf2}')")
