<div>
    <div class="main_height">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2>Confused ?</h2>
                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove. </p>
                <!--<a href="#" class="da-link">Read more</a>-->
                <div class="da-img"><img src="images/confuse_stag1.jpg" alt="image01" /></div>
            </div>
            <div class="da-slide">
                <h2>Select Your Best College</h2>
                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                <!--<a href="#" class="da-link">Read more</a>-->
                <div class="da-img"><img src="images/college.png" alt="image01" style="width:450px" /></div>
            </div>
            <div class="da-slide">
                <h2>Learn Peacefully</h2>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                <!--<a href="#" class="da-link">Read more</a>-->
                <div class="da-img"><img src="images/study1.png" alt="image01" style="width:450px" /></div>
            </div>
            <div class="da-slide">
                <h2>Reach Your Goal</h2>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                <!--<a href="#" class="da-link">Read more</a>-->
                <div class="da-img"><img src="images/graduat1.jpg" alt="image01" /></div>
            </div>
            <div class="da-slide">
                <h2>Enjoy...</h2>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                <!--<a href="#" class="da-link">Read more</a>-->
                <div class="da-img"><img src="images/enjoy.png" alt="image01" /></div>
            </div>
            <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
        </div>
    </div>
</div>
